{% extends 'layouts/base.html' %}

{% block title %}Mafia project{% endblock %}
{% block meta_description %}Mafia project @ HackathonTecnocampus{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Titol</h1>
      <h3 class="text-muted">
        Subtitol
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        <h2>Xavo</h2>
        <p class="text-muted">Mafia</p>
        <p>
          <a href="#" class="btn btn-default">GOO</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        <h2>Ruben</h2>
        <p class="text-muted">Mafia</p>
        <p>
          <a href="#" class="btn btn-default">GOO</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
        <h2>Sergi</h2>
        <p class="text-muted">Mafia</p>
        <p>
          <a href="#" class="btn btn-default">GOO</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
